#header{
    transition: all 0.5s;
    padding: 20px 0;
    z-index: 997;
}

.text-color {
    color: #fff;
}

.nav-item:hover {
    background-color: #0307f5;
}

.navbar-brand:hover {
    background-color: #fff;
}
