#header{
    transition: all 0.5s;
    padding: 20px 0;
    z-index: 997;
}

#header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 8px 0;
}

#header.ex-h {
    bottom: 0;
    background-color: rgba(101, 201, 174, 1);
    padding: 2rem;
    height: 100vh;
}


.text-color {
    color: #fff;
}

